<div class="top-line">
</div>

<p class="top-title">资讯</p>

<div class="head-article">
  <a href="http://www.ftchinese.com/story/001076821?archive" target="_blank">
    <img src="http://i.ftimg.net/picture/2/000073572_piclink.jpg" >
    <p class="head-article-title">
      中国挑战美国人工智能主导地位
    </p>
  </a>
</div>

<div class="article-list">
  <div class="article">
    <p class="tag">中国</p>
    <p class="title">
      <a href="http://www.ftchinese.com/story/001077463" target="_blank">中国：癌症治疗领域的黑马</a> 
    </p>
  </div>

  <div class="article">
    <p class="tag">中国</p>
    <p class="title">
      <a href="http://www.ftchinese.com/story/001077463" target="_blank">中国：癌症治疗领域的黑马</a> 
    </p>
  </div>

  <div class="article">
    <p class="tag">中国</p>
    <p class="title">
      <a  href="http://www.ftchinese.com/story/001077463" target="_blank">中国：癌症治疗领域的黑马</a> 
    </p>
  </div>
</div>

<div class="payinfo">
  <p>FT中文网付费会员，专享资讯</p>
  <div><a href="http://www.ftacademy.cn/subscription.html" target="_blank">仅198元/年，即刻订阅&nbsp;&nbsp;&nbsp;</a></div>
</div>

