<div class="top-line">
  <span></span>
  <span></span>
</div>

<p class="top-title">资讯</p>

<div class="head-article">
  <a href="http://www.ftchinese.com/story/001076821?archive">
    <img src="http://i.ftimg.net/picture/2/000073572_piclink.jpg" >
    <p class="head-article-title">
      中国挑战美国人工智能主导地位
    </p>
  </a>
</div>

<div class="article-list">
  <div class="article">
    <p class="tag">中国</p>
    <p class="">
      <a id="article1"  href="http://www.ftchinese.com/story/001077463">FT社评：特朗普向中国提出非理性贸易要求</a> 
    </p>
  </div>

  <div class="article">
    <p class="tag">中国</p>
    <p class="">
      <a id="article1"  href="http://www.ftchinese.com/story/001077463">FT社评：特朗普向中国提出非理性贸易要求</a> 
    </p>
  </div>

  <div class="article">
    <p class="tag">中国</p>
    <p class="">
      <a id="article1"  href="http://www.ftchinese.com/story/001077463">FT社评：特朗普向中国提出非理性贸易要求</a> 
    </p>
  </div>
</div>

<div class="payinfo">
  <p>FT中文网付费会员，专享资讯</p>
  <div>仅198元/年，即刻订阅</div>
</div>

