$darkPink: #a5656e;
$lightPink: #d2b9be;
$bgWhite:#edf5f9;
$textWhite: #fff;
$textGray:#333;
$textBlack:#000;
html,body {
  margin:0;
  padding:0;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px;
  background-color: $bgWhite;
  width: 300px;
  height: 600px;
  font-family: Helvetica Neue,Verdana,Arial,Hiragino Sans GB,WenQuanYi Micro Hei,Heiti SC,STHeiti,Microsoft Yahei,SimSun,sans-serif;
  font-size: 16px;
  color:$textGray;
}
p{
  margin:0;
}
.top-line {
  margin-top: 6px;
  width: 100%;
  height: 5px;
  font-size: 0; //一定要注意设置这个，否则高度至少为font-size的高度
  &::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100%;
    background-color: $darkPink; 
  }
  &::after {
    content: "";
    display: inline-block;
    width: calc(100% - 100px);
    height: 100%;
    background-color: $lightPink;
  }
  
}
.top-title {
  margin: 5px 0 15px;
  
}

.head-article {
  width: 100%;
  height: 193px; 
  position: relative;
  margin-bottom: 12px;
  .rect-bg {
    box-sizing: border-box;
    width:100%;
    height:137px;
    padding:12px;
    background-color: $darkPink;
    
  }
  
  .tag {
    color:$textWhite;
    font-size: 14px;
    display: inline-block;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: $textWhite;
  }
  .title {
    margin-top: 12px;
    
  }
  a {
    text-decoration: none;
    color:$textWhite;
    line-height: 25px;
  }
  .circle-img {
    display: block;
    width: 122px;
    height: 122px;
    border:1px solid transparent;
    border-radius: 62px;
    z-index: 10;
    position: absolute;
    right:0;
    bottom: 0;
  }
}

.article-list {
  margin-bottom: 35px;

  .article {
    box-sizing: border-box;
    height: 80px;
    padding: 5px 10px;
    border-bottom:thin dotted transparent;
    border-bottom-color: $lightPink;
    position: relative;
    .circle-img-item {
      display: block;
      width: 63px;
      height: 63px;
      border:1px solid transparent;
      border-radius: 32.5px;
      position: absolute;
      left:0;
      top: 5px;
    }
    .context {
      position: absolute;
      left: 65px;
      top: 5px;
      padding-left: 15px;
    }
    .tag {
      font-size: 14px;
      display: inline-block;
      color: $darkPink;
    }
    .title {
      margin-top: 5px;
      a {
        text-decoration: none;
        color: $textGray;
        font-size: 14px;

      }
    }
  }
  
}

.payinfo {
  p {
    text-align: center;
    margin-bottom: 12px;
  }
  div {
    text-align: center;
    a {
      display: inline-block;
      text-decoration: none;
      font-size: 14px;
      background-color: $darkPink;
      width: 190px;
      height: 30px;
      line-height: 30px;
      color: $bgWhite;
      &::after {
        content: "";
        display: inline-block;
        width:5px;
        height: 10px;
        box-sizing: border-box;
        border-width: 5px;
        border-style: solid;
        border-color: $darkPink;
        border-left-color: $bgWhite;
      }
    }
  }
}