html,body {
  margin:0;
  padding:0;
  margin: 0;
  padding: 0;
 
}
body {
  margin: 0 auto;
  width: 300px;
  height: 600px;
}
.ad {
  box-sizing: border-box;
  width:300px;
  height: 600px;
  padding: 10px;
  background: green;
}
.article {
  position: absolute;
  top:20px;
  
  a {
    word-wrap: break-word; 
  word-break: normal; 
  }
}