{% extends "base.html" %}

{% block content %}
  <div class="top-line">
  </div>

  <p class="top-title">资讯</p>

  <div class="head-article">
    <a href="http://www.ftchinese.com/story/001076821?archive" target="_blank">
      <img src="http://i.ftimg.net/picture/2/000073572_piclink.jpg" >
      <p>
        中国挑战美国人工智能主导地位
      </p>
    </a>
  </div>

  <div class="article-list">
    <div class="article">
      <p class="tag">中国</p>
      <p class="title">
        <a href="http://www.ftchinese.com/story/001077463" target="_blank">中国：癌症治疗领域的黑马黑黑哈哈哈哈哈哈</a> 
      </p>
    </div>

    <div class="article">
      <p class="tag">中国</p>
      <p class="title">
        <a href="http://www.ftchinese.com/story/001077463" target="_blank">韩国总统称可能举行韩朝美三方峰会</a> 
      </p>
    </div>

    <div class="article">
      <p class="tag">中国</p>
      <p class="title">
        <a  href="http://www.ftchinese.com/story/001077463" target="_blank">特朗普与习近平通话 一致同意维持对朝制裁
        </a> 
      </p>
    </div>
  </div>

  <div class="payinfo">
    <p>FT中文网付费会员，专享资讯</p>
    <div><a href="http://www.ftacademy.cn/subscription.html" target="_blank">仅198元/年，即刻订阅&nbsp;&nbsp;&nbsp;</a></div>
  </div>
{% endblock %}

