{% extends "base.html" %}

{% block content %}
  <div class="top-line">
  </div>

  <p class="top-title">{{topTitle}}</p>

  <div class="head-article">
    <a href="{{headArticle.url|addSearchParam('ccode='+ccode)}}" target="_blank">
      <img src="{{headArticle.pic}}" >
      <p>
        {{headArticle.title}}
      </p>
    </a>
  </div>

  <div class="article-list">

    {% for article in articleList %}
    <div class="article">
      <p class="tag">{{article.tag}}</p>
      <p class="title">
        <a href="{{article.url|addSearchParam('ccode='+ccode)}}" target="_blank">{{article.title}}</a> 
      </p>
    </div>
    {% endfor %}
  </div>

  <div class="payinfo">
    <p>FT中文网付费会员，专享资讯</p>
    <div><a href="{{ 'http://www.ftacademy.cn/subscription.html'|addSearchParam('ccode='+ccode) }}" target="_blank">仅198元/年，即刻订阅&nbsp;&nbsp;&nbsp;</a></div>
  </div>
{% endblock %}

