{% extends "base.html" %}

{% block content %}
  {% set searchParam = 'ccode='+ccode %}

  <div class="top-line">
  </div>

  <p class="top-title">{{topTitle}}</p>

  <div class="head-article">
    <div class="rect-bg">
      <p class="tag">{{headArticle.tag}}</p>
      <p class="title">
        <a href="{{headArticle.url|addSearchParam(searchParam)}}" target="_blank">{{headArticle.title}}</a> 
      </p>
    </div>
    <img src="{{headArticle.pic}}" >
  </div>

  <div class="article-list">

    {% for article in articleList %}
    <div class="article">
      <p class="tag">{{article.tag}}</p>
      <p class="title">
        <a href="{{article.url|addSearchParam(searchParam)}}" target="_blank">{{article.title}}</a> 
      </p>
    </div>
    {% endfor %}
  </div>

  <div class="payinfo">
    {% set searchParam = 'ccode='+ccode%}
    <div><a href="{{ 'http://www.ftacademy.cn/subscription.html'|addSearchParam(searchParam) }}" target="_blank">仅198元/年，即刻订阅&nbsp;&nbsp;&nbsp;</a></div>
  </div>
{% endblock %}

